.container-fluid.py-4.bg-almost-black#projects
  .container.justify-content-center.text-white
    .row.align-items-center.flex-wrap-reverse
      .col-12.col-md-6
        %img.d-block.w-100.py-5{:alt => "...", :src => "https://res.cloudinary.com/laura-latuillerie/image/upload/v1666096950/amigo-iphones-mockup_kfd6yl.png"}
      .col-12.col-md-6
        %h2.fw-bold.syne.text-uppercase.mb-0.neon My Works
        %h4.fw-lighter.syne.neon
          Brought to you through
          %span.fw-bold
            Blood & Coffee Tears
        = link_to "Repositories", 'https://github.com/laura-latuillerie/', class:"btn btn-translucide", target: "_blank"
        = link_to "Portfolio.pdf (J-3)", '#', class:"btn btn-translucide-outline", target: "_blank"