.container-fluid.py-5
  .container.justify-content-center.text-white
    %h2.fw-bold.syne.text-uppercase.mb-0 Relevant Works
    %h4.mb-3.fw-normal.syne.neon Bought to you through Sugary Blood & Coffee Tears
    %img{:src => "https://res.cloudinary.com/laura-latuillerie/image/upload/v1666026328/portfolio_u6a4nq.png", :width => "70%"}