.gelatine {
  animation: gelatine 2s ease-in-out infinite;
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

.gelatine2 {
  animation: gelatine2 2s ease-in-out infinite;
}

@keyframes gelatine2 {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(1.1, 0.9); }
  50% { transform: scale(0.8, 1.2); }
  75% { transform: scale(1.05, 0.95); }
}