// Import your components CSS files here.
@import "colors";
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "loader";
@import "buttons";
@import "images";

body{
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("https://res.cloudinary.com/laura-latuillerie/image/upload/v1665869759/bg-test_uta08r.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.social-icons{
  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}

h1{
  text-transform: uppercase;
  font-family: $syne;
}

.syne{
  font-family: $syne;
}

.neon, .neon:hover, .neon:active{
  color:white;
}

.neon{
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.803);
  transition: 0.5s;
}

.neon:hover, .neon:active{
  text-shadow: 0 0 8px white;
}

.text-justify{
  text-align: justify;
  text-justify: inter-word;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: 0.8rem;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 768px) {

  h1{
    font-size: 4rem;
  }
}