nav{
  background-color: $purple;
  font-weight: 500;

  .navbar-brand{
    font-family: $syne;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .navbar-brand, .nav-link, .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
    color:white;
  }

  .nav-link{
    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.803);
    transition: 0.5s;
  }

  .nav-link:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.803);
    color: white;
  }
}