#pills-tab{
  .nav-link{
    font-size: 1.2rem;
    font-family: $syne;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: white;
  }
}